*{
     padding:0;
     margin: auto;
}
body{
    background-image: url(img/IMG_20230305_120854_008.jpg);

    background-size:cover;
}
h1{
    font-style:oblique;
    font-family:arial,helvetica,sans-serif;
    font-size:50px;
    color:blue;
}

h2{
    font-style : italic;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: maroon;
}
p{
    font-size: 20px;
    color: azure;
}
li{
        font-size: 20px;
        color: azure;
}
nav{
    background-color:brown; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10;
    padding-right: 10px;
    padding:50px;
}
.logo{
    color: rgb(160,156,156);
    font-size: 25px;
    padding: 0 50px;
}
span{
    color: rgb(68, 19, 19);
}
nav ul li{
    list-style-type:none;
    display:inline-block;
    padding: 10px 30px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:rgb(27, 1, 1);
    transition: 1s;
}

    button{
        border: none;
        background:red;
        padding:12px 30px;
        color: white;
        font-weight: bold;
        font-size: 15px;
        transition: 1s;
    }
    button:hover{
        transform:scale(1.3);
        cursor: pointer;
    }

    main{
        margin-top: 20px;
        margin: left 200px;
        margin-right: 200px;
    }
    .container{
        width:50%;
    }
    form{
       display: flex;
       flex-direction: column; 
       width: 24rem;
       gap: 1rem;
    } 
    input, select,textarea{
        padding: 1.4rem;
        background: palevioletred;
        border: red;
        color: aquamarine;
    }
    textarea{
        height: 6rem;
        color: antiquewhite;
    }
    button{
        width: 8rem;
        padding: 1.4rem;
        cursor: pointer;
        background: black;
        color: aliceblue;
    }


